# Summary monitoring to UCSD collector
xrd.report xrootd.t2.ucsd.edu:9931 every 5m all sync

# Detailed monitoring to AAA collector and local shoveler
xrootd.monitor all \
  fstat 60s \
  lfn ops ssq \
  xfr 5 \
  ident 5m \
  dest fstat info user redir xrootd.t2.ucsd.edu:9330 \
  dest fstat files info user pfc tcpmon ccm io02.phy.bris.ac.uk:9993
