#
# Configure logging for the XrootD

# Standard logging
xrootd.trace all -debug -request -response -fsio -fsaio
xrd.trace conn
cms.trace all
tpc.trace info
voms.trace debug

# Uncomment this for debugging but comment them back once done
# xrootd.trace all
# ofs.trace all
# xrd.trace all -debug
# cms.trace all
# http.trace all
# macaroons.trace all

# Config warning: 'xrootd.prepare logdir' not specified; prepare tracking disabled.
scitokens.trace all
