DOCKER_VOLUME_DIR_CVMFS = /cvmfs:/cvmfs:ro
DOCKER_VOLUME_DIR_ETC_CVMFS = /etc/cvmfs:/etc/cvmfs:ro
DOCKER_VOLUME_DIR_HDFS = /hdfs:/hdfs

DOCKER_VOLUME_DIR_GRID_SECURITY = /etc/grid-security:/etc/grid-security:ro
DOCKER_VOLUME_DIR_NSSWITCH = /etc/nsswitch.conf:/etc/nsswitch.conf:ro
DOCKER_VOLUME_DIR_SSSD = /var/lib/sss/pipes/nss
DOCKER_VOLUME_DIR_PASSWD = /etc/passwd:/etc/passwd:ro
DOCKER_VOLUME_DIR_GROUP = /etc/group:/etc/group:ro


DOCKER_VOLUME_DIR_SOFTWARE = /software:/software:ro
DOCKER_VOLUME_DIR_USERS = /users:/users
DOCKER_VOLUME_DIR_USERSC = /usersc:/usersc
DOCKER_VOLUME_DIR_OPT = /opt:/opt:ro

DOCKER_MOUNT_VOLUMES = CVMFS, ETC_CVMFS, HDFS, GRID_SECURITY, NSSWITCH, SSSD, PASSWD, GROUP, SOFTWARE, USERS, USERSC, OPT
