[Global]
onmissing = passthrough
audience = xrootd.phy.bris.ac.uk,https://wlcg.cern.ch/jwt/v1/any,https://xrootd.phy.bris.ac.uk:1094,root://xrootd.phy.bris.ac.uk:1094

[Issuer CMS]
issuer = https://cms-auth.cern.ch/
base_path = /xrootd/cms,/
map_subject = False
default_user = xrootd
# name_mapfile = /etc/xrootd/scitokens_mapfile_cms.json

[Issuer CMS_IAM]
issuer = https://cms-auth.web.cern.ch/
base_path = /xrootd/cms,/
map_subject = False
default_user = xrootd


[Issuer DTEAM]
issuer = https://dteam-auth.cern.ch/
base_path = /xrootd/dteam
map_subject = false
default_user = xrootd

[Issuer WLCG]
issuer = https://wlcg.cloud.cnaf.infn.it/
base_path = /xrootd/dteam/
map_subject = False
default_user = dteam
name_mapfile = /etc/xrootd/scitokens_mapfile_wlcg.json

[Issuer WLCG IAM]
issuer = https://wlcg.cloud.cnaf.infn.it/
base_path = /xrootd/wlcg
map_subject = false
default_user = xrootd

[Issuer EGI]
issuer = https://aai-dev.egi.eu/auth/realms/
base_path = /xrootd/ops
map_subject = false
default_user = xrootd