---
classes:
  - htcondor

htcondor::is_scheduler: true

htcondor::high_priority_groups:
  dteam: -10
  cms.admin: -30
  ops: -20
  ops.admin: -21
htcondor::use_accounting_groups: true
htcondor::ganglia_cluster_name: 'DICE HTCondor'
htcondor::accounting_groups:
  alice:
    dynamic_quota: 0.01
    priority_factor: 10000.0
  atlas:
    dynamic_quota: 0.01
    priority_factor: 10000.0
  cms:
    dynamic_quota: 0.15
    priority_factor: 10000.0
  dteam:
    dynamic_quota: 0.01
    priority_factor: 100.0
  ilc:
    dynamic_quota: 0.01
    priority_factor: 10000.0
  lhcb:
    dynamic_quota: 0.05
    priority_factor: 10000.0
  ops:
    dynamic_quota: 0.01
    priority_factor: 1.0
  vo.landslides.mossaic.org:
    dynamic_quota: 0.01
    priority_factor: 10000.0
  vo.southgrid.ac.uk:
    dynamic_quota: 0.01
    priority_factor: 10000.0
  cms.admin:
    dynamic_quota: 0.01
    priority_factor: 1.0
  physics:
    dynamic_quota: 0.8
    priority_factor: 1000.0
  physics.hep:
    dynamic_quota: 0.36
    priority_factor: 1000.0
  physics.astro:
    dynamic_quota: 0.1
    priority_factor: 1000.0
  physics.jonas:
    dynamic_quota: 0.1
    priority_factor: 1000.0